{% extends "helloapp/layout.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block body %}


    <!-- FOR STYLE -->
    <!-- this is the navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <h1 class="display-6" style="text-align: center;" id="title">looknearby</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="position:absolute; right: 0px;">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "helloapp:index" %}">Home<img class="chat-icon" src="{% static "helloapp/home.svg" %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "helloapp:profile" %}">Edit<img class="chat-icon" src="{% static "helloapp/edit.svg" %}" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "authentications:logout" %}">Logout<img class="chat-icon" src="{% static "helloapp/logout.svg" %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <div class="user-detail-picture">
        <!-- this is for showing the profile picture -->
        <!-- FOR STYLE -->
        {% if profile_picture %}
        <img class="profile-picture" src="{{profile_picture.url}}" alt="Image Not Found!" style="width:200px">
        {% else %}
        <img class="profile-picture" src="{% static "helloapp/default_profile_picture.png" %}" alt="Image Not Found!" style="width:200px">
        {% endif %}
    </div>

    <div class="user-detail-list-div">
        <!-- this is for shwing the user details -->
        <!-- FOR STYLE -->
        <ul class="user-detail-list">
            {% if profile_bio %}
                <li>
                    <img class="chat-icon" src="{% static "helloapp/info.svg" %}" alt="">
                    {{profile_bio}}
                </li>
            {% endif %}

            <li>
                <img class="chat-icon" src="{% static "helloapp/info.svg" %}" alt="">
                {{user_first_name}} {{user_last_name}}
            </li>

            {% if profile_gender %}
                <li>
                    <img class="chat-icon" src="{% static "helloapp/info.svg" %}" alt="">
                    {{profile_gender}}
                </li>
            {% endif %}

            {% if profile_relationship %}
                <li>
                    <img class="chat-icon" src="{% static "helloapp/info.svg" %}" alt="">
                    {{profile_relationship}}
                </li>
            {% endif %}
        </ul>
    </div>





    <div class="user-detail-chat">
        <!-- this is for if you want to chat with the person -->
        <!-- FOR STYLE -->
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="sender" value="{{ request.user.username }}" hidden>
                <input type="text" name="receiver" value="{{ username }}" hidden>
                <button class="send-location">
                    <img class="chat-icon" src="{% static "helloapp/add.svg" %}" alt="">
                    <input type="submit" value="BE FRIENDS" class="send-location-input">
                </button>    
            </form>
        </div>

        
        <div><img class="chat-icon" src="{% static "helloapp/more.svg" %}" alt=""></div>

        
        <!-- this is a link to chat with persion -->
        <!-- FOR STYLE -->
        {% with request.user.username|add:username as name %}
            <button class="send-location">
                <img class="chat-icon" src="{% static "helloapp/chat-icon.svg" %}" alt="">
                <a style="text-decoration: none; color:black" href="{% url "chat:room" name  %}">SEND DM</a>
            </button>
        {% endwith %}
    </div>
    
{% endblock %}